<div class="mt-4">
  <div>
    <h3>Khóa học đã xóa</h3>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">tên khóa học</th>
        <th scope="col">trình độ</th>
        <th scope="col" colspan="2">thời gian xóa</th>
      </tr>
    </thead>
    <tbody>
        {{#each courses}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.deletedAt}}</td>
        <td>
            <a href="" class="btn btn-secondary btn-restore" data-id="{{this._id}}">khôi phục</a>
            <a href="" class="btn btn-danger" 
              data-bs-toggle="modal" data-bs-target="#delete-course-modal"
               data-id="{{this._id}}"
            >xóa vĩnh viễn</a>
        </td>
      </tr>

      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          thùng rác trống!!!
          <a href="/me/stored/courses">danh sách khóa học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{!-- confirm delete course --}}
<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">xóa khóa học vĩnh viễn?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>hành động này không thể khôi phục. Bạn vẫn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger" >delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancle</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form method="POST" name="delete-course-form"></form>
<form method="POST" name="restore-course-form"></form>

<script>
  document.addEventListener('DOMContentLoaded', function(){
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var restoreForm = document.forms['restore-course-form'];

    var btnDeleteCourse = document.getElementById('btn-delete-course');
    var btnRestore = $('.btn-restore');

    //when dialog confirm clicked
    var deleteCourseModal = document.getElementById('delete-course-modal')
      deleteCourseModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        var id = button.getAttribute('data-id')
        courseId = id;
      })
    //when delete course btn clicked
    btnDeleteCourse.onclick = function(){
      deleteForm.action= '/courses/' + courseId + '/force?_method=DELETE';
      deleteForm.submit();
    }

    //restore btn clicked
    btnRestore.click(function(e) {
      e.preventDefault();
      
      var courseId = $(this).data('id');
      restoreForm.action= '/courses/' + courseId + '/restore?_method=PATCH';
      restoreForm.submit();
    })
  })
</script>